* {
  max-width: 500px;
  margin: auto;
}
.h1{
 line-height:2.5 ;
}
.h2{
line-height: 2.5;
}
.p{
line-height: 1.8;
}
.profile-picture{
  width: 249.66px;
  height: 270.66px;
  flex-shrink: 0;
  border-radius: 50%;
  
}